

body {
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.nav-link {
  color:#284B63 !important;
}

.nav-link:hover {
  font-weight: 500;
}

.navbar {
  padding-top: 0px;
}

#navbarText {
  padding-left: 30px;
}

.navbar-nav > li > a.active{
  text-decoration: bold !important;
  font-weight: 500 !important;
}

img {
  height: fixed;
  width: fixed;
}

/*
li {
  float: left;
}
*/
li {
  color: #284B63;
}
/*
li a:hover {
  background-color: #111;
} */

h1 {
  color: white;
  text-align: left;
  text-indent: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #0C7C59;
  font-size: 25px;
}

p {
  font-family: verdana;
  font-size: 20px;
}
